/* style1.css */

/* Reset default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/payment.jpeg')no-repeat;
}

/* Style the userpage container */
.userpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the form container */
form {
    width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form heading */
form h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style the form input fields */
form input[type="text"], form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style the form submit button */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the form submit button on hover */
form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the error message */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
